Repository wafflepie/redux-syringe: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

typescriptize reducers-react
  packages/reducers-react/package.json
  packages/reducers-react/src/index.ts
  packages/reducers-react/tsconfig.build.json
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

typescriptize middleware-react
  packages/middleware-react/package.json
  packages/middleware-react/src/index.ts
  packages/middleware-react/tsconfig.build.json
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

typescriptize preset
  presets/redux-syringe/actions.d.ts
  presets/redux-syringe/package.json
  presets/redux-syringe/src/index.ts
  presets/redux-syringe/tsconfig.build.json
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

typescriptize reducers
  packages/reducers/package.json
  packages/reducers/src/__snapshots__/constants.test.ts.snap
  packages/reducers/src/combineReducerEntries.js
  packages/reducers/src/combineReducerEntries.test.ts
  packages/reducers/src/combineReducerEntries.ts
  packages/reducers/src/combineReducerSchema.js
  packages/reducers/src/combineReducerSchema.test.ts
  packages/reducers/src/combineReducerSchema.ts
  packages/reducers/src/combineReducers.test.ts
  packages/reducers/src/combineReducers.ts
  packages/reducers/src/composeReducers.js
  packages/reducers/src/composeReducers.test.ts
  packages/reducers/src/composeReducers.ts
  packages/reducers/src/constants.test.ts
  packages/reducers/src/constants.ts
  packages/reducers/src/filterReducer.js
  packages/reducers/src/filterReducer.test.ts
  packages/reducers/src/filterReducer.ts
  packages/reducers/src/index.js
  packages/reducers/src/index.ts
  packages/reducers/src/makeEnhancer.js
  packages/reducers/src/makeEnhancer.test.ts
  packages/reducers/src/makeEnhancer.ts
  packages/reducers/src/makeReducer.js
  packages/reducers/src/makeReducer.test.ts
  packages/reducers/src/makeReducer.ts
  packages/reducers/src/types.ts
  packages/reducers/tsconfig.build.json
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

remove yarn install step from travis config
  .travis.yml
Due: none

simplify null/undefined fallbacks
  packages/injectors-react/src/makeHook.ts
  packages/injectors/src/createEntries.ts
  packages/injectors/src/types.ts
  packages/namespaces-react/src/useNamespace.ts
  packages/namespaces-react/src/useNamespacedDispatch.ts
  packages/namespaces-react/src/useNamespacedSelector.ts
Due: prettier --ignore-path .gitignore --write, yarn lint --fix

v0.12.0-alpha.0
  lerna.json
  packages/epics-react/package.json
  packages/epics/package.json
  packages/injectors-react/package.json
  packages/injectors/package.json
  packages/middleware-react/package.json
  packages/middleware/package.json
  packages/namespaces-react/package.json
  packages/namespaces/package.json
  packages/reducers-react/package.json
  packages/reducers/package.json
  packages/stream-creators/package.json
  packages/thunk/package.json
  packages/utils-react/package.json
  packages/utils/package.json
  presets/redux-syringe/package.json
Due: prettier --write

clean up utility types
  packages/middleware/src/index.ts
  packages/middleware/src/makeEnhancer.test.ts
  packages/middleware/src/makeEnhancer.ts
  packages/namespaces-react/src/contexts.ts
  packages/namespaces-react/src/index.ts
  packages/namespaces-react/src/types.ts
  packages/namespaces-react/src/useNamespacedDispatch.ts
  packages/namespaces/src/attachNamespace.ts
  packages/namespaces/src/defaultNamespace.ts
  packages/namespaces/src/getNamespaceByAction.ts
  packages/namespaces/src/getStateByFeatureAndAction.ts
  packages/namespaces/src/index.ts
  packages/namespaces/src/isActionFromNamespace.ts
  packages/namespaces/src/mergeNamespace.ts
  packages/namespaces/src/preventNamespace.ts
  packages/namespaces/src/types.ts
  packages/reducers/src/combineReducers.ts
  packages/reducers/src/index.ts
  packages/reducers/src/makeEnhancer.ts
  packages/reducers/src/types.ts
  packages/thunk/src/thunkMiddleware.ts
  presets/redux-syringe/src/index.ts
Due: prettier --ignore-path .gitignore --write, yarn lint --fix

improve typing of actions
  presets/redux-syringe/actions.d.ts
Due: prettier --ignore-path .gitignore --write, yarn lint --fix

update changelog
  CHANGELOG.md
Due: prettier --write

v0.12.0
  lerna.json
  packages/epics-react/package.json
  packages/epics/package.json
  packages/injectors-react/package.json
  packages/injectors/package.json
  packages/middleware-react/package.json
  packages/middleware/package.json
  packages/namespaces-react/package.json
  packages/namespaces/package.json
  packages/reducers-react/package.json
  packages/reducers/package.json
  packages/stream-creators/package.json
  packages/thunk/package.json
  presets/redux-syringe/package.json
Due: prettier --write

Create CNAME
  docs/CNAME
Due: none

update IS_SERVER constant to use window
  packages/injectors-react/src/__snapshots__/constants.test.ts.snap
  packages/injectors-react/src/constants.ts
Due: prettier --ignore-path .gitignore --write, yarn lint --fix

minor makeHook improvements
  packages/injectors-react/src/makeHook.ts
Due: prettier --ignore-path .gitignore --write, yarn lint --fix

v0.12.1
  lerna.json
  packages/epics-react/package.json
  packages/injectors-react/package.json
  packages/middleware-react/package.json
  packages/reducers-react/package.json
  presets/redux-syringe/package.json
Due: prettier --write

make store.entries always up-to-date
  CHANGELOG.md
  packages/injectors/src/enhanceStore.ts
  packages/injectors/src/index.ts
  packages/injectors/src/makeStoreInterface.test.ts
  packages/injectors/src/makeStoreInterface.ts
  packages/injectors/src/types.ts
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

always default store entries to an empty array
  packages/injectors/src/enhanceStore.ts
  packages/injectors/src/index.ts
  packages/injectors/src/makeStoreInterface.ts
  packages/injectors/src/types.ts
Due: prettier --ignore-path .gitignore --write, yarn lint --fix

improve thunk typings
  CHANGELOG.md
  packages/thunk/src/index.ts
  packages/thunk/src/thunkMiddleware.test.ts
  packages/thunk/src/thunkMiddleware.ts
  packages/thunk/src/types.ts
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

update dependencies
  babel.config.js
  jest.config.js
  package.json
  packages/epics-react/package.json
  packages/epics/package.json
  packages/injectors-react/package.json
  packages/injectors/package.json
  packages/middleware-react/package.json
  packages/middleware/package.json
  packages/namespaces-react/package.json
  packages/namespaces/package.json
  packages/reducers-react/package.json
  packages/reducers/package.json
  packages/stream-creators/package.json
  packages/thunk/package.json
  packages/utils-react/package.json
  packages/utils/package.json
  presets/redux-syringe/package.json
  yarn.lock
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

fix babel runtime version
  babel.config.js
  packages/epics-react/package.json
  packages/epics/package.json
  packages/injectors-react/package.json
  packages/injectors/package.json
  packages/middleware-react/package.json
  packages/middleware/package.json
  packages/namespaces-react/package.json
  packages/namespaces/package.json
  packages/reducers-react/package.json
  packages/reducers/package.json
  packages/stream-creators/package.json
  packages/thunk/package.json
  packages/utils-react/package.json
  packages/utils/package.json
  presets/redux-syringe/package.json
  yarn.lock
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

improve middleware typings
  CHANGELOG.md
  packages/middleware/src/makeEnhancer.ts
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

v0.12.2
  lerna.json
  packages/epics-react/package.json
  packages/epics/package.json
  packages/injectors-react/package.json
  packages/injectors/package.json
  packages/middleware-react/package.json
  packages/middleware/package.json
  packages/namespaces-react/package.json
  packages/namespaces/package.json
  packages/reducers-react/package.json
  packages/reducers/package.json
  packages/stream-creators/package.json
  packages/thunk/package.json
  packages/utils-react/package.json
  packages/utils/package.json
  presets/redux-syringe/package.json
Due: prettier --write

update dependencies
  .eslintrc.js
  package.json
  packages/epics-react/package.json
  packages/injectors-react/package.json
  packages/injectors-react/src/types.ts
  packages/middleware-react/package.json
  packages/namespaces-react/package.json
  packages/namespaces-react/src/contexts.ts
  packages/namespaces-react/src/namespacedConnect.ts
  packages/namespaces-react/src/useNamespace.test.tsx
  packages/namespaces-react/src/withNamespaceProvider.test.tsx
  packages/namespaces-react/src/withNamespaceProvider.tsx
  packages/reducers-react/package.json
  packages/utils-react/package.json
  presets/redux-syringe/package.json
  yarn.lock
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

v0.12.3
  lerna.json
  packages/epics-react/package.json
  packages/injectors-react/package.json
  packages/middleware-react/package.json
  packages/namespaces-react/package.json
  packages/reducers-react/package.json
  packages/utils-react/package.json
  presets/redux-syringe/package.json
Due: prettier --write

Path conditions:
  prettier --ignore-path .gitignore --write: any of: **/*.{js,ts,tsx}
  yarn lint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: any of: **/*.{mdx,md,html,json}
